/* Variables*/
:root {
  --Very-Dark-Blue: hsl(234, 12%, 34%);
  --Grayish-Blue: hsl(229, 6%, 66%);
  --Very-Light-Gray: hsl(0, 0%, 98%);

  --Red: hsl(0, 78%, 62%);
  --Cyan: hsl(180, 62%, 55%);
  --Orange: hsl(34, 97%, 64%);
  --Blue: hsl(212, 86%, 64%);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
}

/* utilidades*/
h3 {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--Very-Dark-Blue);
  font-weight: 600;
  font-size: 1.3em;
}

/* Contenedor General*/
.wrapper {
  padding: 65px 30px 80px;
  border: 1px solid orange;
  background-color: var(--Very-Light-Gray);
}

/* Seccion Powered by technology*/
.power-tecnology {
  text-align: center;
  margin-bottom: 80px;
}
.power-tecnology h1 {
  font-size: 1.6em;
  font-weight: 600;
  margin: 0;
  color: var(--Very-Dark-Blue);
}
.power-tecnology h2 {
  margin-bottom: 0;
  font-weight: 300;
  color: var(--Very-Dark-Blue);
  font-size: 1.6em;
}
.power-tecnology p {
  color: var(--Grayish-Blue);
  line-height: 1.7;
  font-size: 1em;
}

/* TRABAJANDO CON GRID*/
.tecnologys {
  display: grid;
  gap: 25px;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, auto);
}

/* Estilos a las card's*/
.card {
  padding: 25px 30px;
  border-radius: 6.4px;
  background: #ffffff;
}

/* Clases para los bordes de colores de las card's*/
.supervisor {
  border-top: 4px solid var(--Cyan);
}
.karma {
  border-top: 4px solid var(--Orange);
}
.builder {
  border-top: 4px solid var(--Red);
}
.calculator {
  border-top: 4px solid var(--Blue);
}
/*Seccion de las Cards*/
.card {
  padding: 25px 25px;
  border-radius: 6.4px;
  background: #ffffff;
}
.textos-tecnologys {
  color: var(--Grayish-Blue);
  font-size: 0.9em;
  line-height: 1.8;
  margin-top: 5px;
  font-weight: 400;
}

.card span {
  display: block;
  text-align: right;
  margin: 26px 0 0;
}
